<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.dao.IEmployManagementDao">

	<select id="findAllWaitedStudent"  parameterType="String" resultMap="tempMap">
		select * from t_student where ;
	</select>
	
	<resultMap type="StudentBean" id="tempMap">
		<id property="id" column="s_id" ></id>
		<result property="name"  column="s_name" ></result>
		<result property="direction"  column="s_direction" ></result>
		<result property="stuNum"  column="s_no" ></result>
		
		<association property="cb"  javaType="ClassBean">
			<id property="cId"  column="c_id"></id>
			<result property="className"  column="c_name"></result>
			
			<association property="period"  javaType="PeriodBean">
				<id  property="pid"  column="p_id"></id>
				<result  property="pname"  column="p_name"></result>
			</association>
		</association>
	</resultMap>
</mapper>